.center-elements {
  text-align: center;
}

.pagination-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

th.vertical-align{
  vertical-align: middle;
  text-align: center;
}
.table-header-row{
  height: inherit;
}
.data-table {
  margin-bottom: 0;
}

.table-fixed {
  position: absolute;
  top: 0;
  height: 50px;
  z-index: 1;
}

.parent {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-top: 0px;
}

.table-parent {
  overflow: auto;
  position: relative;
  height: calc(100% - 40px);
}

.table-header {
  height: 50px;
  vertical-align: middle;
  background-color: rgb(115, 121, 123);
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.pagination-custom {
  margin: 0;
}

.link-like {
  background: inherit;
  border: 0;
  text-decoration: underline;
}

.head-single-line {
  display: flex;
}

.flex-header {
  display: flex;
}
.animate-loading{
  position: relative;

}
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.animate-loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.animate-loading span:nth-child(2) {
  animation-delay: .2s;
}

.animate-loading span:nth-child(3) {
  animation-delay: .4s;
}
