.center-elements{
    text-align: center;
  }
  .pagination-bar{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  /* .table-header{
    position: absolute;
    top: 20px;
    height: 20px;
    left: 0;
  } */
.table-fixed{
  margin-top: 50px;
}
.parent{
    position: relative;
    height: 100%;
    width: 100%;
  padding: 10px;
}
.table-parent{
  overflow: auto;
  position: relative;
  height: calc(100% - 40px);
}
.table-header{
  height: 50px;
  vertical-align: middle;
}
.pagination-custom{
  margin:0;
}
.link-like{
  background: inherit;
  border: 0;
  text-decoration: underline;
}

