<div class="parent">
  <div class="table-parent" id="tableParent">

    <table class="table table-condensed table-bordered table-hover center-elements data-table">
      <thead class="table-header">
      <tr class="table-header-row">
        <th *ngFor="let header of tableHeadersList;let headerPositionOri=index" class="vertical-align">{{header}}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of paginatedItems; let rowNumber = index" #trow>
        <td *ngFor="let itemDetail of tableDataDetails; let columnNumber = index">
          <span *ngIf="!itemDetail.type">{{concatenatedName(item, itemDetail)}}</span>
          <span *ngIf="itemDetail.type === 'id'">{{itemId(rowNumber)}}</span>
          <input [type]="itemDetail.subType" *ngIf="itemDetail.type === 'input' && itemDetail.subType!='radio'"
                 (change)="updateData($event,rowNumber,columnNumber)"
                 [ngModel]="tableData[itemId(rowNumber)-1][tableDataDetails[columnNumber].name]"
                 [checked]="tableData[itemId(rowNumber)-1][tableDataDetails[columnNumber].name]">
          <input [type]="itemDetail.subType" *ngIf="itemDetail.type === 'input' && itemDetail.subType ==='radio'"
                 name="radio" (change)="updateData($event,rowNumber,columnNumber)"
                 [checked]="tableData[itemId(rowNumber)-1][tableDataDetails[columnNumber].name]">
          <button class="link-like" [type]="itemDetail.subType" *ngIf="itemDetail.type === 'button'"
                  (click)="buttonClickEmitter($event,rowNumber, columnNumber)">{{itemDetail.elementDesc}}
          </button>
        </td>
      </tbody>
    </table>
  </div>

  <!--Pagination-->
  <nav aria-label="..." class="center-elements pagination-bar">
    <!-- paginationDetails -->
    <ul *ngIf="paginationDetails.pages && paginationDetails.pages.length" class="pagination">
      <li [ngClass]="{disabled:paginationDetails.currentPage === 1}">
        <a (click)="navigateToPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:paginationDetails.currentPage === 1}">
        <a (click)="navigateToPage(paginationDetails.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of paginationDetails.pages" [ngClass]="{active:paginationDetails.currentPage === page}">
        <a (click)="navigateToPage(page)">{{page}}</a>
      </li>
      <li *ngIf="!endOfData">
        <a (click)="navigateToPage(paginationDetails.totalPages)">...</a>
      </li>
      <li [ngClass]="{disabled:paginationDetails.currentPage === paginationDetails.totalPages}">
        <a (click)="navigateToPage(paginationDetails.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:paginationDetails.currentPage === paginationDetails.totalPages}">
        <a (click)="navigateToPage(paginationDetails.totalPages)">Last</a>
      </li>
    </ul>
  </nav>
  <!--Pagination-->
</div>
