.test{
  height: 600px;
  margin-top: 10px;
}
.topright{
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: 100px;
  overflow: scroll;
  background-color: #fff;
}
.topright2{
  right: 100px;
}
